.game-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 900px;
}

.option-button-container {
    display: flex;
    margin-top: 30px;
}

.container {
    justify-content: flex-start;
}